.Card{
    width:270px ;
    height: 400px;
    margin: 30px; 
    background: lightblue;
    border-radius: 15px;
}
.card-img{
    background-color: var(--LightPink);
    margin-left: 30%;
    margin-top: 10px;
    height: 100px;
    width : 100px ;
    border-radius: 50%;
    background-size: cover;
    margin-bottom: 15px;
}
.Uni-title{
    background-color: lightblue;
}
.dates{
    font-size: 15px;
    background-color: black;
    width: auto;
    
}

.text-uni{
    text-align: left;
    background-color: lightblue;
    color: black;
    margin-top: 10px;
    width: 100%;
    height: 150px;
}


.uni-one{background-image: url('./ank_logo.png');
}
.uni-2{background-image: url('./UCLM-Logo\ \(1\).png');
    width : 180px ;
    border-radius: 0;
    margin-left: 17%;
}
.button-uni{
    color:var(--DarkPink) ;
    background-color: lightblue;
}
.button-uni:hover{
    color : var(--LightPink)
}