
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--DarkPink) ;
    border-bottom: solid ;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a{
    margin: 0 2rem;
    color : var(--DarkPink);
    text-decoration: none ; 
}
nav a:hover{
    color : var(--LightPink)
}
header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    color: var(--DarkPink);
    opacity: 0;
    font-size: 1.8rem;
}
.List{
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: row;
}

@media only screen and ( max-width: 768px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
        gap: 1.5rem ; 
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
        z-index: auto;
    }
    header .responsive_nav{
        transform: none ;
    }
    header .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem ;
    }
    nav a{
        font-size: 1.5rem;
    }
}
